:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--color: rgba(255, 255, 255, 0.87);

	color-scheme: light dark;
	color: var(--color);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#cancel {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	width: 3.25rem;
	height: 3.25rem;
	border: none;
	background: none;
	cursor: pointer;
	transition-duration: 200ms;

	--color: rgb(212, 212, 212);
}
#cancel:hover {
	transform: translateX(-50%) scale(1.05);
	--color: white;
}

#cancel .wrapper {
	position: absolute;
	top: 0;
	left: 0;
}

#cancel .round {
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	border: 0.5rem solid var(--color);
	border-left: 0.5rem solid transparent;
}
#cancel .head {
	position: absolute;
	width: 0;
	height: 0;
	border: 0.75rem solid transparent;
	border-left: 0.75rem solid var(--color);
	transform: rotate(135deg) translate(0.74rem, 0.175rem);
}
