:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--color: rgba(255, 255, 255, 0.87);

	color-scheme: light dark;
	color: var(--color);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

menu {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	gap: 3rem;
	padding: 0;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	transition-duration: 200ms;

	--color: rgb(212, 212, 212);
}
button:hover {
	transform: scale(1.05);
	--color: white;
}

.lucide {
	width: 4rem;
	height: 4rem;
}

#shuffle {
	position: absolute;
	top: 2rem;
	left: 2rem;
}
